$gradient: linear-gradient(130deg, #2663eb 0%, #9233ea 100%);
$gradient-hover: linear-gradient(130deg, #2257cb 0%, #772ac0 100%);
$black: #1e2230;
$white: #fafcfc;
$white-hover: #e0e5f0;
$white-grey: #f6fafad2;
$light-violet: #faf6ff;
$border-violet: #e9d5ff;
$violet: #9333ea;
$icon-color: #dbdee0;
$muted: #6f7583;
$error: #f25555;
$error-hover: #dc4040;
$border: #e0e4ef;
$input: #eaecf1;
$radius: 7px;
$accent-color: #2663eb;
$accent-color-hover: #3f75e9;

$border-radius: 7px;
