.platformSection {
    padding: 5rem;
    background-color: $white;
    text-align: center;
}
.titleMain {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}
.card {
    width: 280px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    padding: 1.5rem;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        transform: translateY(-4px);
    }
}

.iconWrapper {
    width: 4rem; // 64px
    height: 4rem;
    border-radius: 1rem; // 16px
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.icon {
    width: 2rem;
    height: 2rem;
    color: white;
}

.title {
    font-size: 20px;
    margin-bottom: 0.75rem;
}

.description {
    color: #4b5563;
    line-height: 1.6;
}
.listPlatform {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.subtitle {
    margin-top: 0.5rem;
    color: #6b7280;
    width: 768px;
    margin: 0 auto;
}
