.introduction {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.textPart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
        font-size: 35px;
        color: #9333ea;
        font-weight: 600;
    }
    p {
        font-size: 17px;
        color: rgb(75 85 99);
        font-weight: 600;
    }
}

.choosePart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 845px;
    width: 100%;
}

.startPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    padding: 20px 10px;
    max-width: 845px;
    width: 100%;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: #9333ea;
        border-radius: 50%;

        .iconCalculator {
            width: 40px;
            height: 40px;
        }
    }

    .textValue {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
            font-size: 23px;
            font-weight: 600;
        }
    }

    .button {
        border-radius: 10px;
        color: white;
        font-size: 17px;
        padding: 10px 20px;
        background-color: #9333ea;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: 600;
    }
}
