.input {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid $border;
    transition: border-color 0.2s;
    padding-left: 46px;

    &.medium {
        width: 200px;
    }

    &.short {
        width: 120px;
    }

    &.long {
        width: 320px;
    }

    &.fullWidth {
        width: 100%;
    }

    &:focus {
        outline: none;
        border-color: #3b82f6;
        box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
    }

    &.disabled {
        background-color: var(--border);
        border-color: var(--border);
        cursor: not-allowed;
    }
}
.icon {
    position: absolute;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.wrapper {
    display: flex;
    align-items: center;
    position: relative;

    &.fullWidth {
        width: 100%;
    }

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
